{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Ingredient - {{ ingredient.name }}</h1>

    <div class="text-center">
        <a class="btn btn-default" href="{{ path('ingredient_list') }}">To the List</a>
        <br /><br />
        {% include 'ingredient/nutrition.table.html.twig' %}
    </div>
{% endblock %}